<div class="container">
  <div class="jumbotron">
  <h2>Welome to Ron Craig's Portfolio</h2>
  </div>
</div>

<% if @skills.any? %>
  <h3>Here's a list of skills with solid examples...</h3>
      <% @skills.each do |skill| %>
        <h4><%= link_to skill.title, skill_path(skill) %></h4>
      <% end %>
<% else %>
  <h2>No skills to pay the bills...yet!</h2>
<% end %>
