<div class="container">
  <div class="jumbotron">
    <h2>Ron's Personal Interests</h2>
  </div>
</div>

<div class="container">
<% if @interests.any? %>
<div class="row">
  <div class="col-md-12">
  <h3>Here's a list of Ron's interests. Click on the links below to veiw the details...</h3>
  <br>
  </div>
</div>

<% @interests.each do |interest| %>
<div class="row">
  <div class="col-md-12" align="center">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= link_to interest.heading, interest_path(interest) %></h3>
      </div>
    </div>
  </div>
</div>
<% end %>
<% else %>
  <h2>No intriguing interests...yet!</h2>
<% end %>
<h5>Admin: <%= link_to "Add a New interest", new_interest_path %></h5>
<hr>
</div>

<div class="container">
  <h4><%= link_to "Go Home", skills_path %></h4>
</div>
